/*
Nextflow config file
*/

// Default params, used in configs
params {
	// Pipeline params
	inputFile			= 'inputFile_main_placeholder'
	sclenLength			= 1000
	hclenLength			= 1000
	rlenLength			= 400
	outdir				= 'results'
	publish_dir_mode	= 'copy'
}

profiles {
	docker {
		docker.enabled				= true
		process.container			= 'edwardward762/transgenemapping:latest'
	}

	test { 
		includeConfig 'conf/test.config' 
	}
}

includeConfig 'conf/modules.config'