process {
    withName: 'filterBamSclen' {
        publishDir = [
            path: { "${params.outdir}/02_clipping_filter" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'convertReadsToFastq' {
        publishDir = [
            enabled:false
        ]
    }

    withName: 'convertReadsToFastq' {
        publishDir = [
            path: { "${params.outdir}/03_clipping_mapped_to_genome" },
            mode: "$params.publish_dir_mode"
        ]
    }
}