process {
    withName: 'SAMTOOLS_FASTQ' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args   = { "-ax map-ont" }
        publishDir = [
            path: { "${params.outdir}/01_all_reads_mapped_to_genome" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/01_all_reads_mapped_to_genome" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'DEEPTOOLS_BAMCOVERAGE' {
        ext.args   = { "-of bedgraph -bs $params.bedgraph_bin_size" }
        publishDir = [
            path: { "${params.outdir}/01_all_reads_mapped_to_genome" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'SAM_VIEW_CLIP_FILTER' {
        ext.args   = { "-h -e 'sclen >= $params.sclenLength || hclen >= $params.hclenLength'" }
        publishDir = [
            path: { "${params.outdir}/02_clipping_filter" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'SAM_FQ_CLIP_READS' {
        publishDir = [
            enabled:false
        ]
    }

    withName: 'MAP_ALIGN_GENOME' {
        ext.args   = { "-ax map-ont" }
        publishDir = [
            path: { "${params.outdir}/03_clipping_mapped_to_genome" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'SAM_INDEX_CLIP_MAP' {
        publishDir = [
            path: { "${params.outdir}/03_clipping_mapped_to_genome" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'BAM_COV_CLIP' {
        ext.args   = { "-of bedgraph -bs $params.bedgraph_bin_size" }
        publishDir = [
            path: { "${params.outdir}/03_clipping_mapped_to_genome" },
            mode: "$params.publish_dir_mode"
        ]
    }
}